@font-face {
    font-family: "Spantaran Regular";
    src: url('https://assets.jumpseller.com/store/hitwaymusic/themes/805952/Spantaran.woff?key=c02d8e761bc61756e528c5d82f55fb0b') format("woff2");
}

/*** CSS Reset ***/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 13rem 1fr 8rem;
    grid-template-areas: 
    'header header'
    'sidebar principal'
    'footer footer';
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Raleway";
}

/* HEADER*/
.header {
    grid-area: header;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    width: 12rem;
}

/* HEADER: INPUT SEARCH return */
.input-search-form {
    width: 50rem;
    height: 3.5rem;
    display: flex;
    position: relative;
}

.search {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem 4rem 1rem 1rem;
} 

.search-button {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* NAV BAR UL */
.nav-bar-ul  {
    list-style-type: none;
}
.nav-bar-ul a {
    text-decoration: none;
    color: #fff;    
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-left: 2rem;
}

.nav-bar-ul li:nth-child(3) a {
    text-transform: none;
}

.nav-bar-ul li a:hover {
    color: #e8be72;
}

.icon-login {
    position: absolute;
    right: 5rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.icon-login i {
    color: #ebeaea;
}

.icon-login i:hover {
    color: #e8be72;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    border-right: 1px solid #ebeaea;
}

.categorias {
    padding-left: 2rem;
    padding-top: 4rem;
}

.categorias h3 {
    padding-bottom: 2rem;
}

.styles {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: "Lato";
    cursor: pointer;
}

.styles span {
    color: #c0a367;  /*e8be72 cbcbcb*/
    margin-left: .4rem;
}



.principal {
    grid-area: principal;
}

.footer {
    grid-area: footer;
    background-color: #1b1b1b;
    
}
